<Project>
    <PropertyGroup>
        <GodotPath>/Users/(your name)/Applications/Megadot.app/Contents/MacOS/Godot</GodotPath>
        <GodotPreset>mac</GodotPreset>
        <Sts2Dir>/Users/(your name)/Library/Application Support/Steam/steamapps/common/Slay the Spire 2/SlayTheSpire2.app/Contents</Sts2Dir>
        <Sts2DataDir>$(Sts2Dir)/Resources/data_sts2_macos_arm64</Sts2DataDir>
        <Sts2ModDir>$(Sts2Dir)/MacOS/mods</Sts2ModDir>
        <Sts2DllDir>$(Sts2Dir)</Sts2DllDir>
    </PropertyGroup>
</Project>