<Project>
    <PropertyGroup>
        <GodotPath>godot4-mono</GodotPath>
        <GodotPreset>Linux</GodotPreset>
        <Sts2Dir>/home/(your name)/.local/share/Steam/steamapps/common/Slay the Spire 2</Sts2Dir>
        <Sts2DataDir>$(Sts2Dir)/data_sts2_linuxbsd_x86_64</Sts2DataDir>
        <Sts2ModDir>$(Sts2Dir)/mods</Sts2ModDir>
        <Sts2DllDir>$(Sts2DataDir)</Sts2DllDir>
    </PropertyGroup>
</Project>