<Project>
    <PropertyGroup>
        <GodotPath>D:\softwares\megadot\MegaDot_v4.5.1-stable_mono_win64.exe</GodotPath>
        <GodotPreset>Windows</GodotPreset>
        <Sts2Dir>D:\Program Files (x86)\Steam\steamapps\common\Slay the Spire 2</Sts2Dir>
        <Sts2DataDir>$(Sts2Dir)/data_sts2_windows_x86_64</Sts2DataDir>
        <Sts2ModDir>$(Sts2Dir)/mods</Sts2ModDir>
        <Sts2DllDir>$(Sts2Dir)</Sts2DllDir>
    </PropertyGroup>
</Project>